
<main class="main">
    <div class="topStatusBar">
      <app-connection-status></app-connection-status>
    </div>

    <img class="jeeklogo" src="./assets/logos/jeekpaintT3.png" alt="">
    <div class="section">
      <app-connect-to-start-gg></app-connect-to-start-gg>
    </div>
<!--    <div class="section">-->
<!--        <app-connect-to-google-sheets></app-connect-to-google-sheets>-->
<!--    </div>-->
    <div class="section">
      <app-connect-to-sammi-mod></app-connect-to-sammi-mod>
    </div>
    <div class="section">
      <app-connect-to-obs></app-connect-to-obs>
    </div>
</main>

<router-outlet />
